<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Angular app</title>
        <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body ng-controller="controller">
        <input type="text" ng-model="name" placeholder="Ime">
        {{name}}
    </body>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
</html>